
*{
    flex-direction: column;
    border-radius: 9px;
    margin: 2px;
}

div{
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    gap: 5px;
} 

.banner{
   width: 100%;
   flex-direction: row;
   display: flex;
}

.banner > *{
    flex-grow: 1;
}

.spacer{
    width: 70%;
}

.title{
    font-weight: 1000;
    
}

.upper{
   height: 150px;
   
}

.main-selection{
    height: 150px;
}

.projects-container{
    display: flex;
    flex-direction: row;
}

.projects-container > *{
    max-width: 33%;
    min-width: 30%;
    margin: auto;
    
}

.project-banner{ 
    display: flex;
    flex-direction: row;
}

.project-title{
    flex-grow: 1;
}

.task-container{
    flex-direction: row;
}

.task-text{
    flex-grow: 1;
}


dialog{
 position: relative;
 margin: auto;
}
